

@import "./normalize.css";

@font-face {
    font-family: 'Ubuntu';
    src: url(../aseets/fonts/Ubuntu/Ubuntu-Regular.ttf);
    font-weight: 400;
}


.wrapper_content {
    background: url(../aseets/images/Фон\ 1.png) center no-repeat;
    background-size: cover;
    /* width: 100vw; */
    height: 100vh;
    font-size: 14px;
    font-family: 'Ubuntu';
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 79px;
    color: #FFFFFF;
    /* height: 58px;
    margin-top: 18px; */
    background-color:rgba(0, 0, 0, 0.4);
    /* opacity: 0.6; */
}

.header_logo {
    font-weight: 700;
    font-size: 22px;
}

.header_custom_menu {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.pictogram_calendar {
    margin-left: 704px;
    margin-right: 27px;
}

.svg {
    fill: #FFFFFF;
}

.pictogram_konvert {
    margin-right: 24px;
}

.pictogram_kompas {
    margin-right: 25px;
}

.line_vertical {
    margin-right: 27px;
    width: 1px;
    height: 19px;
}

.text_login {
    width: 108px;
    margin-right: 3px;
}

.text_signup {
    width: 68px;
}

.header_logo:hover, .header_text-decoration:hover {
    color: #3CB878;
    transition: .1s ease-in-out;
}

.svg:hover {
    fill: #3CB878;
    transition: .1s ease-in-out;
}

.form_wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50% , calc(-50% + 27px));
}

.form {
    display: flex;
    flex-direction: column;
    width: 444px;
    height: 584px;
    background: #ffffff;
    padding: 0 60px;
    position: relative;
}

.x_header_form {
    position: absolute;
    left: 0px;
    top: 38px;
    width: 18px;
    height: 18px;
    background-color:#3CB878;
}

.header_form {
    display: flex;
    justify-content: space-between;
    padding-top: 31px;
}

.title1_header_form {
    font-size: 20px;
    color: #434343;
}

.title2_header_form {
    color: #3CB878;
}

.title2_header_form:hover {
    text-decoration: underline;
}

.wrapper_login_fb_google-form {
    display: flex;
    justify-content: space-between;
    padding-top: 15px; 
}

.button_fb-form, .button_google-form {
    display: flex;
    justify-content: space-around;
    align-items:center;
    width: 160px;
    height: 48px;
    background-color:#305DB8;
    color: #FFFFFF;
    border-radius: 4px;
    border: none;
}

.button_google-form {
    margin-left: 4px;
    background-color:#DF4A32;
}

.button_fb-form:hover {
    background-color: #022263;
}

.button_google-form:hover {
    background-color: #AB1F09;
}

.logo_facebook {
    width: 12.46px;
    height: 24px;
}

.logo_google {
    width: 30px;
    height: 19px;
}

.rectangle {
    color: #2B0D09;
    height: 28px;
    width: 1px;
}

.link_form {
    padding: 17px 17px 17px 8px;
}

.line_horizont-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    
}

.text_horizont-decoration {
    color: #848484;
    margin: 0 2px 0 5px;
    
}

.line_horizont-image {
    color: #F2F2F2;
    width: 152px;
    height: 1px;
}

.input1 {
    margin-top: 15px;
    width: 324px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 5px;
}

.input1::placeholder {
    color: #BEBEBE;
    padding-left: 20px;
}

.input1:hover {
    border: 1px solid #aeacac;
    cursor: pointer;
}

.input1:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    outline: none;
    text-align: left;
    padding-left: 20px;
    color: #434343;
}

.input1:focus::-webkit-input-placeholder {
    color: #434343;
}

.checkbox {
    margin-top: 12px;
}


.checkbox1_text-decoration1{
    color: #434343;
}

.checkbox1_text-decoration2 {
    color: #3CB878;
}

.checkbox1_text-decoration2:hover {
    text-decoration: underline;
}

.btn__form {
    margin-top: 20px;
    font-size: 16px;
    padding: 16px 99px;
    background-color: #3CB878;
    border: none;
    border-radius: 5px;
    color:#FFFFFF;
}

.btn__form:hover {
    background-color: #01813F;
}

.btn__form:focus {
    box-shadow: 0px 3px 8px rgba(112, 237, 23, 0.953);
    outline: none;
}

.checkbox input {
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin: 10px 0 0 20px;
}
.checkbox__text {
	position: relative;
	padding: 0 0 0 40px;
	cursor: pointer;
}
.checkbox__text:before {
	content: '';
	position: absolute;
	top: -2px ;
	left: 0;
	width: 30px;
	height: 16px;
	border-radius: 13px;
	background: #CDD1DA;
	box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
	transition: .2s;
}
.checkbox__text:after {
	content: '';
	position: absolute;
	top: 0px;
	left: 2px;
	width: 12px;
	height: 12px;
	border-radius: 10px;
	background: #FFF;
	box-shadow: 0 2px 5px rgba(0,0,0,.3);
	transition: .2s;
}
.checkbox input:checked + .checkbox__text:before {
	background: #9FD468;
}
.checkbox input:checked + .checkbox__text:after {
	left: 16px;
}
